@import url(reset.css);

.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

body {
	font-family: "Poppins", regular;
	background-color: #d9d9d9;
	font-weight: 400;
	font-size: 18px;
}

[class*="__container"] {
	max-width: 1230px;
	padding: 100px 15px;
	margin: 0 auto;
}

.wrapper {}

.main {}

.main__container {}

.interior__block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	row-gap: 40px;
}

.interior__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	/* 24/16 */
	display: flex;
	flex-wrap: wrap;
	gap: 26px;
	align-items: center;

}

.interior__title::after {
	content: "";
	display: block;
	height: 2px;
	background-color: black;
	flex: 0 1 40%;
}

.interior__title:hover {
	text-decoration: underline;

}

.interior__items {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.interior__items:not(:last-child) {
	margin-bottom: 40px;
}

.item-interior {
	gap: 120px;
}

.item-interior__image {
	display: block;
	flex: 0 0 60%;
	transition: all 0.5s;
}

.item-interior__image:hover {
	transform: scale(1.1);
}

.item-interior__image img {
	/*max-width: 100%;*/
}

.image__foto {}

.item-interior__link {}

.item-interior__sub-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	/* 33.6/24 */
	margin-bottom: 20px;
}


.item-interior__info {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.item-interior__info:not(:last-child) {
	row-gap: 20px;
	column-gap: 20px;
}

.item-interior__text {
	max-width: 334px;
	overflow: hidden;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #9c9c9c;
	/* 28.8/18 */
}

.second__container {}

.minimalist-room {}

.minimalist-room__block {}

.minimalist-room__header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.minimalist-room__header:not(:last-child) {
	margin-bottom: 40px;
}

.minimalist-room__title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
	/* 78.4/56 */
}


.minimalist-room__title:hover {
	text-decoration: underline;
}

.minimalist-room__sub-title {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	/* 28.8/18 */
	max-width: 518px;
	padding: 0 15px;
	text-align: center;
}

.minimalist-room__big-foto_first {
	display: flex;
	max-width: 100%;

}

.minimalist-room__big-foto_first:not(:last-child) {
	margin-bottom: 100px;
}

.minimalist-room__content {
	display: flex;
	margin-bottom: 82px;
}

.content-column {
	display: flex;
	flex-direction: row;
	column-gap: 32px;
}

.content-column__items {
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;*/
	flex: 0 0 48.699187%;


}

.item {}

.item__title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	color: #333333;
	/* 33.6/24 */
	margin-bottom: 24px;
}

.item__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #9c9c9c;
	/* 28.8/18 */
	margin-bottom: 60px;
}

.item__data {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #9c9c9c;

}

.item__items {
	display: flex;
	justify-content: space-between;
	padding-right: 163px;
}

.item-data__data {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #9c9c9c;
	margin-bottom: 82px;
}

.item-data__sign {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #9c9c9c;
}

.item__sign {}

.minimalist-room__mini-foto {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 32px;
	column-gap: 32px;
}

.minimalist-room__mini-foto:not(:last-child) {
	/*margin-bottom: 32px;
	column-gap: 32px;*/
}

.minimalist-room__big-foto {
	display: flex;
	max-width: 100%;
}

.minimalist-room__big-foto:not(:last-child) {
	margin-bottom: 32px;
}

.foto-mini {
	transition: all 1.5s;
}

.foto-mini:hover {
	transform: scale(1.05);

}