@import url(reset.css);

body {
	background-color: #E5E5E5;
}

p {
	padding: 10px;
}

.first-block {
	max-width: 400px;
	font-family: Poppins;
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	margin: 0 auto;
	margin-top: 115px;
	margin-bottom: 40px;
	color: #212529;
}

.second_block {
	max-width: 816px;
	font-family: Poppins;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	margin: 0 auto;
	color: #6c757d;
	margin-bottom: 80px;
}

.third_image {
	width: 100%;
	display: inline-block;
	margin-bottom: 50px;
}

.third_block {
	margin: 0px 50px 50px 50px;
	/*max-height: 400px;
	max-width: 1420px;
	margin: 0 auto;
	display: inline-block;*/
}

.fourth_block {
	max-width: 625px;
	padding: 10px;
	font-family: Poppins;
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	margin: 0 auto;
	color: #212529;
}

.fifth_block {
	max-width: 816px;
	font-family: Poppins;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	margin: 0 auto;
	color: #6c757d;
	margin-bottom: 50px;

}


.sixth_block {
	margin: 0 auto;
	margin-bottom: 100px;
	margin-left: 50px;
	font-size: 0;
	max-width: 1240px;
}

.seven_image {
	width: 50%;
	padding-left: 15px;

}

.sixth_image {
	padding-right: 15px;
	width: 50%;
}





.eith_block {
	max-width: 816px;
	font-family: Poppins;
	font-weight: 300;
	font-size: 14px;
	line-height: 25px;
	color: #6c757d;
	margin: 0 auto;

}




.text_a {
	color: green;
	font-style: italic;
	font-weight: 900;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
}

.example {
	max-width: 500px;
	height: 300px;
	background-color: yellow;
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	overflow: scroll;
	margin: 0 auto;
	margin-bottom: 100px;
}

.example_2 {
	background-color: black;
	font: 900;
	color: white;
}